.container {
  display: flex;
  background-color: #50c2c7;
  padding-left: 70px;
  padding-right: 70px;
  flex: 1;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    background-color: #50c2c7;
    margin-top: 66px;
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoTitle {
  font-family: "Oleo Script", cursive;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-left: 5px;
  color: white;
}

.letteriteHeartIcon {
  width: 20px;
  height: 27px;
}

.detailsContainer {
  flex: 3;
}

.contactContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.copyrightTextContainer {
  margin-top: 59px;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: white;
}

@media screen and (max-width: 900px) {
  .copyrightTextContainer {
    font-family: "Mulish", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    color: white;
  }
}

.contactText {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: white;
}

@media screen and (max-width: 900px) {
  .contactText {
    font-family: "Mulish", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 28px;
    color: white;
  }
}

.contactEmailText {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  color: white;
}
@media screen and (max-width: 900px) {
  .contactEmailText {
    font-family: Mulish;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    color: white;
  }
}
