.container {
  display: flex;
  background-color: #50c2c7;
  padding-left: 70px;
  padding-right: 70px;
  flex: 1;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    background-color: #50c2c7;
    margin-top: 66px;
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoTitle {
  font-family: "Oleo Script", cursive;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-left: 5px;
  color: white;
}

.letteriteHeartIcon {
  width: 20px;
  height: 27px;
}

.detailsContainer {
  flex: 3;
}

.contactContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
}

.linksContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 59px;
  padding: 5px;
  align-items: flex-end;
}

.linkText {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: white;
}

@media screen and (max-width: 900px) {
  .linkText {
    font-family: "Mulish", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
  }
}
